{% extends 'base.html' %}
{% block content %}
<h2>Daftar Produk</h2>
<a href="{% url 'main:add_product' %}"><button>Add</button></a>
<table border="1">
    <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Kategori</th>
        <th>Detail</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>
            <a href="{% url 'main:product_detail' product.pk %}"><button>Detail</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}